#banner{
  background-image: image-url("background-stylus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding:150px 50px;
  color:#fff;
  h1{
    font-size: 50px;
    color: $white;
    font-family: $gotham;
  }
  p{
    font-size:25px;
    color: $white;
  }
}

.testimonial{
  background: $white;
  padding: 40px;
  box-shadow: 1px 1px 3px $gray-shadow;
  margin: 10px;
  img{
    width:40%;
    margin:0 auto;
  }
}
